In [14]:
schoolSystem = {
  'schools': [{
      'name': 'Fake School 1',
      'classRooms': [{
        'teacher': {
          'firstName': 'Marcelino',
          'lastName': 'Padberg',
          'age': 25
        },
        'students': [{
            'firstName': 'Aliyah',
            'lastName': 'Schulist',
            'age': 18
          },
          {
            'firstName': 'Cleveland',
            'lastName': 'Towne',
            'age': 28
          }, {
            'firstName': 'Jan',
            'lastName': 'Quitzon',
            'age': 18
          }, {
            'firstName': 'Alaina',
            'lastName': 'Runolfsdottir',
            'age': 18
          },
          {
            'firstName': 'Gerhard',
            'lastName': 'Bergstrom',
            'age': 23
          }
        ]
      }, {
        'teacher': {
          'firstName': 'Edwardo',
          'lastName': 'Schowalter',
          'age': 28
        },
        'students': [{
            'firstName': 'Manley',
            'lastName': 'Doyle',
            'age': 18
          }, {
            'firstName': 'Maximilian',
            'lastName': 'Gleichner',
            'age': 19
          }, {
            'firstName': 'Sid',
            'lastName': 'Rohan',
            'age': 30
          },
          {
            'firstName': 'Catalina',
            'lastName': 'Hilpert',
            'age': 27
          }, {
            'firstName': 'Gerald',
            'lastName': "O'Keefe",
            'age': 26
          }
        ]
      }]
    },
    {
      'name': 'Fake School 2',
      'classRooms': [{
          'teacher': {
            'firstName': 'Lucas',
            'lastName': 'Schroeder',
            'age': 29
          },
          'students': [{
              'firstName': 'Giuseppe',
              'lastName': 'Hegmann',
              'age': 24
            },
            {
              'firstName': 'Jennyfer',
              'lastName': 'Hane',
              'age': 19
            }, {
              'firstName': 'Mikayla',
              'lastName': 'Braun',
              'age': 23
            }, {
              'firstName': 'Rickie',
              'lastName': 'White',
              'age': 22
            }, {
              'firstName': 'Rose',
              'lastName': 'Collins',
              'age': 30
            }
          ]
        },
        {
          'teacher': {
            'firstName': 'Green',
            'lastName': 'Sauer',
            'age': 25
          },
          'students': [{
              'firstName': 'Melany',
              'lastName': 'Welch',
              'age': 25
            }, {
              'firstName': 'Paxton',
              'lastName': 'Corkery',
              'age': 22
            },
            {
              'firstName': 'Nellie',
              'lastName': 'Hauck',
              'age': 26
            }, {
              'firstName': 'Eunice',
              'lastName': 'Hirthe',
              'age': 26
            }, {
              'firstName': 'Aylin',
              'lastName': 'Barrows',
              'age': 26
            }
          ]
        }
      ]
    },
    {
      'name': 'Fake School 3',
      'classRooms': [{
        'teacher': {
          'firstName': 'Nikko',
          'lastName': 'Crist',
          'age': 42
        },
        'students': [{
            'firstName': 'Christop',
            'lastName': 'Hahn',
            'age': 26
          }, {
            'firstName': 'Newell',
            'lastName': 'Kemmer',
            'age': 27
          },
          {
            'firstName': 'Katheryn',
            'lastName': 'Heller',
            'age': 26
          }, {
            'firstName': 'Saul',
            'lastName': 'Heathcote',
            'age': 20
          },
          {
            'firstName': 'Maudie',
            'lastName': 'Haley',
            'age': 30
          }
        ]
      }, {
        'teacher': {
          'firstName': 'Nathanael',
          'lastName': 'Hansson',
          'age': 50
        },
        'students': [{
            'firstName': 'Jensen',
            'lastName': 'Reichel',
            'age': 21
          }, {
            'firstName': 'Lois',
            'lastName': 'Kulas',
            'age': 28
          },
          {
            'firstName': 'Caterina',
            'lastName': 'Wolff',
            'age': 28
          }, {
            'firstName': 'Dahlia',
            'lastName': 'Collier',
            'age': 24
          },
          {
            'firstName': 'Linwood',
            'lastName': 'Langosh',
            'age': 26
          }
        ]
      }]
    }
  ]
}

In [25]:
# Add a student with the name of Lucille D. Lozano to Fake School 2, in the first classroom.
newstudent= {
    'firstName': 'Lucille D.',
    'lastName': 'Lozano',
    'age': 'NA'}
schoolSystem['schools'][1]['classRooms'][0]['students'].append(newstudent)

In [26]:
# Retrieve the “Fake School 3” object
for school in schoolSystem['schools']:
    if school['name']=='Fake School 3':
        print(school)

{'name': 'Fake School 3', 'classRooms': [{'teacher': {'firstName': 'Nikko', 'lastName': 'Crist', 'age': 42}, 'students': [{'firstName': 'Christop', 'lastName': 'Hahn', 'age': 26}, {'firstName': 'Newell', 'lastName': 'Kemmer', 'age': 27}, {'firstName': 'Katheryn', 'lastName': 'Heller', 'age': 26}, {'firstName': 'Saul', 'lastName': 'Heathcote', 'age': 20}, {'firstName': 'Maudie', 'lastName': 'Haley', 'age': 30}]}, {'teacher': {'firstName': 'Nathanael', 'lastName': 'Hansson', 'age': 50}, 'students': [{'firstName': 'Jensen', 'lastName': 'Reichel', 'age': 21}, {'firstName': 'Lois', 'lastName': 'Kulas', 'age': 28}, {'firstName': 'Caterina', 'lastName': 'Wolff', 'age': 28}, {'firstName': 'Dahlia', 'lastName': 'Collier', 'age': 24}, {'firstName': 'Linwood', 'lastName': 'Langosh', 'age': 26}]}]}

In [27]:
# Retrieve the teacher with the first name of “Nathanael”
for school in schoolSystem["schools"]:
    for classRooms in school["classRooms"]:
        if classRooms["teacher"]["firstName"]=="Nathanael":
            print(classRooms["teacher"])

{'firstName': 'Nathanael', 'lastName': 'Hansson', 'age': 50}

In [30]:
# Retrieve the student with the first name of “Saul”
for school in schoolSystem["schools"]:
    for classRooms in school["classRooms"]:
        for student in classRooms['students']:
            if student['firstName']=='Saul':
                print(school["name"],student['firstName'],student['lastName'],student['age'])

Fake School 3 Saul Heathcote 20

In [38]:
a = [1,2,3,4]
b = []

for e in a:
    print("Hola "+ str(e))
    b.append(str(e))

stra=str(a)
for e in a:
    print(e, type(e))
    
print(a,b)

for e in b:
    print(e, type(e))
"-".join(b)

# "-".join(str(a)) <- QUIZ: Que esta pasando????
# b esta coumpuesta de los elementos de a convertidos en un string,
# con '-'.join(b) los elemptos de b ya son un string y pueden convertirse un silo string

Hola 1
Hola 2
Hola 3
Hola 4
1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
[1, 2, 3, 4] ['1', '2', '3', '4']
1 <class 'str'>
2 <class 'str'>
3 <class 'str'>
4 <class 'str'>

'1-2-3-4'